<% include ../shared/admin_navbar %>
<% include ../shared/messages %>


<div class="uk-grid">
	
	<div class="uk-width-2-4">
		<div class = "month-calendar">

		</div>
	</div>

	<div class="uk-width-1-4">
		<h4> Selected Dates</h4>
		<div class ="date-div"></div>
	</div>


	<div class="uk-width-1-4">
		<form id= "time-table",class = "uk-form check-times", action="/admins/events/new", method="POST"/>
			<h4 class= "select-dates"> Check Times for Selected Dates</h4> <!-- For MVP, values are hardcoded. In next version Admin will be able to customize times-->
			<% include ../shared/checktime %>
			<div class = "uk-form time-submit">
				<input type="submit" class = "uk-button" id="time-submit" value = "Make times available">
			</div>
		</form>	
	</div>
</div>


<script>
	$(function(){

		$(".month-calendar").fullCalendar({

		});
	

		var dateArray = new Array();


	$('.fc-button-next').on('click',function(){
		setMonthBinding();
	})


	$('.fc-button-today').on('click',function(){
		setMonthBinding();
	})

	$('.fc-button-prev	').on('click',function(){
		setMonthBinding();
	})



	function setMonthBinding(){
		$(".fc-day").on("click", function(){
			 var clickedBox = this
			 var date = $(this).data("date");
			 checkIfHasBeenClicked(date, function(err,result){
				 	if (result == false){
				 	 dateArray.push(date);
				 	 $(".date-div").append("<p class= 'date' data-dateArray	="+date+" >"+ date + "</p>");
				 	 $(clickedBox).addClass("date-selected");
			 	} else {
			 		 removeFromArray(date,function(){
			 		 $(clickedBox).removeClass("date-selected");
			 		});
			 	}
			 
			 });
		});
	}



		$("#time-table").submit(function(e){
			e.preventDefault();
			$("input[type=submit]").attr('disabled',true);
			var checkedArray = new Array();
			$("input[type='checkbox']:checked",this).each(function(){
				checkedArray.push($(this).val());
			})
			processTimes(dateArray,checkedArray,handleResponse);
		});




		function checkIfHasBeenClicked(date,cb){
			if($.inArray(date,dateArray) === -1){
				cb(null,false);
			} else {
				cb(null,true);
			}
		}

		function removeFromArray(date,cb){
			dateArray = _.without(dateArray, date);
			$('[data-dateArray='+date+']').hide();
			cb();
		}


		function processTimes(dateArray,timeArray,cb){
			if(dateArray.length == 0  || timeArray.length == 0){
				cb("Please select at least 1 day and 1 time")
			}
			else{
		  var postRequest = $.post('/admins/events/new',{dates:dateArray,times:timeArray},function(data){
		 		if (data.error){
		 			cb(data.error,null);
		 		} else{
		 			cb(null,"New Appointments Created");
		 		}
		 });
		}
		}

	
		var handleResponse = function(err,done){
			if(err){
				$('.message-field-fail').html(err).show();
			  $("input[type=submit]").attr('disabled',false);
			} else {
				$('.message-field-success').html(done).show();
				$("input[type=submit]").attr('disabled',false);
				successfullyCreate();
			}
		}

		function successfullyCreate (){
			$('td').removeClass("date-selected");
			$('input:checkbox').removeAttr('checked');
			$('.date-div').empty();
			dateArray = [];
		}

		setMonthBinding();
	
	});




</script>