<div class="uk-grid">
	
	<div class="uk-width-1-2">
		<div class = "month-calendar">

		</div>
	</div>

	<div class="uk-width-1-2">
		<form id= "time-table",class = "uk-form", action="/admins/events/new", method="POST">
			<legend> Check Times for Selected Dates</legend> <!-- For MVP, values are hardcoded. In next version Admin will be able to customize times-->
			<% include ../shared/checktime %>
			<div class = "uk-form time-submit">
				<input type="submit" class = "uk-button" id="time-submit" value = "Add times to schedule">
			</div>
		</form>	
	</div>
</div>


<script>
	$(function(){

		$(".month-calendar").fullCalendar({

		});
	

		var dateArray = new Array();

		$(".fc-day").on("click", function(){
			 var clickedBox = this
			 var date = $(this).data("date");
			 checkIfHasBeenClicked(date, function(err,result){
				 	if (result == false){
				 	 dateArray.push(date);
				 	 $(clickedBox).addClass("date-selected");
			 	} else {
			 		 removeFromArray(date,function(){
			 		 $(clickedBox).removeClass("date-selected");
			 		});
			 	}
			 
			 });
		});




		$("#time-table").submit(function(e){
			e.preventDefault();
			$("input[type=submit]").attr('disabled',true);
			var checkedArray = new Array();
			$("input[type='checkbox']:checked",this).each(function(){
				checkedArray.push($(this).val());
			})
			processTimes(dateArray,checkedArray,handleResponse);
		});




		function checkIfHasBeenClicked(date,cb){
			if($.inArray(date,dateArray) === -1){
				cb(null,false);
			} else {
				cb(null,true);
			}
		}

		function removeFromArray(date,cb){
			dateArray = _.without(dateArray, date);
			cb();
		}


		function processTimes(dateArray,timeArray,cb){
		 var postRequest = $.post('/admins/events/new',{dates:dateArray,times:timeArray},function(data){
		 	console.log(data);
		 });
		}

	
		var handleResponse = function(err,done){

		}



	});




</script>