<nav class="uk-navbar">
	<ul class="uk-navbar-nav">
		<li><a href= "/admins/home", class= "uk-navbar-brand">Dashboard</a></li>
		<li><a href= "/admins/events/new">Add Times</a></li>

	</ul>
	<div class ="uk-navbar-flip"> 
		<ul class="uk-navbar-nav">
			<li><a href="/signout">Logout</a></li> 
		</ul>
	</div>
</nav>