<div class = "uk-grid">
<nav class="uk-nav index-page">
	<ul class="uk-navbar-nav">
			<li class= "uk-parent">
				<a href= "#sign-in" data-uk-offcanvas><i class="uk-icon-user"></i></a>
			</li> 
	</ul>
</nav>
<% include shared/messages %>
<div id="sign-in" class="uk-offcanvas">
	<div class="uk-offcanvas-bar">
		<h4 class="index-writing"> Please Sign In </h4>
			<form class = "uk-form", name="login", action="/", method="POST">
						<div class = "uk-form-row login_form">
							<label class="index-writing email" for="email", name="email">Email</label>
							<input type="text", id="email_login", placeholder="example@example.com", name="email">
						</div>
						<div class = "uk-form-row login_form">
							<label class="index-writing" for="password", name="password">Password</label>
							<input type="password", id="password_login", name="password">
						</div>
						<div class = "uk-form-row">
							<input type="submit" class= "login-button uk-button uk-button-success">
						</div>	
					</form>
			</div>
	</div>
</div>

<div class="uk-grid">
	<div class="uk-width-1-1 img-holder"></div>
</div>

		