<!DOCTYPE html>
<html>
<head>
	<title> Appointment</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/fullcalendar.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/uikit.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
	<script type="text/javascript" src= "/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/fullcalendar.js"></script>
	<script type="text/javascript" src= "/javascripts/uikit.min.js"></script>
</head>
<body>
 <%- body %>
</body>
</html>