.times-div{
	margin-top: 10px;
}

.date-selected{
	background-color: red;
}

.time-checkbox{
	margin-bottom: 5px;
}

.message-field{
	display: none;
}
.message-field-success{
	display: none;
}
.message-field-fail{
	display: none;
}

.uk-navbar{
	margin-bottom: 10px;
}

.next-div-session{
	height:50%;
}

.pending-times{
	margin-left: 65%;
	float:top;
}